* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:  Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color:rgb(255, 255, 255);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
   
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
    font-weight: 600;
    text-align: center;
    
}


.search-box input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 8px rgb(140, 140, 140);
}

main {
    padding: 20px;
}

.page-title {
    font-size: 36px;
    color: rgb(3, 118, 163);
    margin: 20px 0;
    text-align: center;
}

.page-title + p {
    text-align: center;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}

.image-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
}

.image-container img {
    max-width: 35%;
    height: auto;
    border: 5px solid #006bad;
    border-radius: 10px;
    box-shadow: 0 0 15px  rgb(9, 118, 172);
}

.text-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
           
}

.service {
    flex: 0 0 calc(33.333% - 20px);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    box-shadow: 0 0 15px rgb(0, 88, 88);
}

.service h2 {
    color: rgb(0, 106, 182);
    font-size: 24px;
    margin-bottom: 10px;
}

.background {
    background-image: url("background-floral.jpg");
    background-size: cover;
    height: 300px;
}
nav {
    margin-left: 40%;
}

.LDC img {
 width: 300px;
 height: 300px;
}
.service img {
 width: 500px;
 height: 500px;
}
.service13 img {
 width: 500px;
 height: 500px;
}